* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
body{
    background-color: rgb(64, 62, 62);
}

header {
    background-color:  rgb(202, 227, 219);
    padding:15px;
    max-width: 1000px;
    margin: auto;
    margin-top: 5px;
    margin-bottom:5px;
    border-radius: 10px;
}

h1 {
    text-align: center;
    font-size: 30px;
}
.container{
    background-color: rgb(202, 227, 219);
    padding:15px;
    max-width: 1000px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    text-align: center;
}
input{
    display: inline-block;
    border: 0;
    width: 100px;
    padding: 8px;
    border-radius: 5px;
    font-weight: 900;
    border-style: dotted;
}
#nome{
    width: 200px;
}
#butoes{
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}
input[type="button"]{
    cursor: pointer;
    background-color: aqua;
    box-shadow: 1px 1px 1px 1px black;
    transition: all 0.6;
    border-radius: 5px;
}
input[type="button"]:hover{
    background-color: aquamarine;
}
#photo{
    text-align: center;
    box-sizing: border-box;
       
}
img{
   display: inline-block;
   box-shadow: 0px 0px 8px 0.1px  black;
   border-radius: 5px;
   border: 0;
   background-color: rgb(166, 208, 208);
}
#resultimc{
    box-sizing: border-box;
    padding: 10px;
    border-radius: 10px;
    background-color: aqua;
    max-width: 290px;
    font-size: 25px;
    font-weight: 900;
    box-shadow: 1px 1px 1px 1px black;
    margin-top: 10px;
    margin-bottom: 30px;
}
#result{
    display: inline-block;
    background-color: aliceblue;
    padding: 18px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px black;
}



@media screen and (max-width:650px){
    *{
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
    }
    body{
        background-color: black;
    }
    header {
        background-color:  rgb(46, 208, 157);
        padding:20px;
        max-width: 1000px;
        margin: 10px;
        text-shadow: 1px 1px white;
        font-style: italic;

    }
    
    h1 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 8vw
    }
    .container{
        background-color: rgb(46, 208, 157);
        padding:15px;
        max-width: 1000px;
        margin: 10px;
        text-align: left;
    }
    input{
        display: block;
        font-size: 5vw;
    }
    #nome{
        width: 65vw;
        padding: 10px;
    }
    #mediasecren{
        text-align: left;
    }
   
    input[type="button"]{
        width: 30vw;
        font-size: 4vw;
        display: inline-block;
        background-color: blue;
        color: white;
        margin: 5px;
    }
    input[type="button"]:hover{
        background-color: blueviolet;
    }
   
    img{
       width: 40vw;
       margin: 5px;
    }
    #resultimc{
        background-color: red;
    }
    #result{
        display: inline-block;
        background-color: aliceblue;
        padding: 18px;
        border-radius: 10px;
        box-shadow: 1px 1px 1px 1px black;
    }
}
